.navbar {
    position: fixed;
    top: 0;
    /*background: white;*/
    width: 100%;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.6s;
    height: 50px;
    display: flex;
    /*padding: 15px;*/
    justify-content: space-between;
}

.navbar_logo {
    width: 80px;
    padding-left: 15px;
    object-fit: contain;
    margin-top: 15px;
}

.navbar_avtar {
    height: 26px;
    padding-right: 15px;
    object-fit: contain;
    margin-top: 12px;
}

.navbar_show {
    background-color: #111111;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    height: 50px;
}

.loggedIn {
    color: white;
}